<div class="row">
	<h3 class="font-weight-bold text-uppercase text-center text-primary">
		CREATE CANDIDATE
	</h3>
	<div class="form-create">
		<form method="POST" action="/candidate/store">
			<!-- 2 column grid layout with text inputs for the first and last names -->
			<div class="row mb-4">
				<div class="col">
					<div class="form-outline">
						<input
							type="text"
							id="first_name"
							name="first_name"
							class="form-control"
						/>
						<label class="form-label" for="first_name">First name</label>
					</div>
				</div>
				<div class="col">
					<div class="form-outline">
						<input
							type="text"
							id="last_name"
							name="last_name"
							class="form-control"
						/>
						<label class="form-label" for="last_name">Last name</label>
					</div>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col">
					<div class="form-outline">
						<input type="email" id="email" name="email" class="form-control" />
						<label class="form-label" for="email">Email Addres</label>
					</div>
				</div>
				<div class="col">
					<div class="form-outline">
						<input type="text" id="phone" name="phone" class="form-control" />
						<label class="form-label" for="phone">Phone</label>
					</div>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col">
					<label class="visually-hidden" for="gender">Gender</label>
					<select class="select" id="gender" name="gender">
						<option value="Female">Female</option>
						<option value="Male">Male</option>
					</select>
				</div>
				<div class="col">
					<div class="form-outline datepicker" data-mdb-inline="true">
						<input
							type="text"
							class="form-control"
							id="day_of_birth"
							name="day_of_birth"
						/>
						<label for="day_of_birth" class="form-label">Day Of Birth</label>
					</div>
				</div>
			</div>

			<!-- Checkbox -->
			<!-- <div class="form-check d-flex justify-content-center mb-4">
				<input
					class="form-check-input me-2"
					type="checkbox"
					value=""
					id="form2Example33"
					checked
				/>
				<label class="form-check-label" for="form2Example33">
					Subscribe to our newsletter
				</label>
			</div> -->

			<!-- Submit button -->
			<button
				type="submit"
				class="btn btn-primary btn-block mb-4"
			>Create</button>
		</form>
	</div>
</div>