* {
  font-family: "IBM Plex Sans", sans-serif; }

body {
  background-color: #f0f0f5; }

.main {
  padding-top: 74px; }

@media (min-width: 992px) {
  .main {
    padding-left: 270px; }
  .nav-brand {
    display: none; }
  #sidenav-1 {
    height: 100%;
    top: 45px; } }

#intro {
  background-image: url("/img/bg2.png");
  height: 110vh; }

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px; } }

.card-dashboard .card-title {
  line-height: 15.4px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px; }

.card-dashboard .card-percent {
  font-size: 12px;
  line-height: 18px; }

#paging ul {
  list-style: none;
  display: flex;
  justify-content: center; }

#paging .paginationjs-pages .paginationjs-page,
#paging .paginationjs-pages .paginationjs-next,
#paging .paginationjs-pages .paginationjs-prev,
#paging .paginationjs-pages .paginationjs-ellipsis {
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer; }

#paging .paginationjs-pages .active {
  background: #8383fe;
  border-radius: 20px;
  color: #fff; }

#table-candidate,
#table-employer,
#table-company,
#table-job {
  background: #fff;
  border-radius: 10px;
  padding: 10px; }
  #table-candidate .dataTables_paginate,
  #table-employer .dataTables_paginate,
  #table-company .dataTables_paginate,
  #table-job .dataTables_paginate {
    text-align: center !important;
    float: none !important; }
  #table-candidate .paginate_button.current,
  #table-employer .paginate_button.current,
  #table-company .paginate_button.current,
  #table-job .paginate_button.current {
    background: #8383fe !important;
    border-radius: 20px !important;
    color: #fff !important; }
  #table-candidate .paginate_button:hover,
  #table-employer .paginate_button:hover,
  #table-company .paginate_button:hover,
  #table-job .paginate_button:hover {
    background: none;
    border: none !important;
    color: #000; }
