<div class="login-page">
	<div id="intro" class="bg-image shadow-2-strong">
		<div
			class="mask d-flex align-items-center h-100"
			style="background-color: rgba(0, 0, 0, 0.5);"
		>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-md-8">
						<form class="form-login bg-white rounded-5 shadow-5-strong p-5">
							<!-- logo brand -->
							<div class="mb-4">
								<img src="/img/logo.png" alt="HaRuTa" />
							</div>

							<!-- Email input -->
							<div class="form-outline mb-4">
								<input
									type="username"
									id="username"
									name="username"
									class="form-control"
									required
								/>
								<label class="form-label" for="username">Username</label>
							</div>
							<div class="username error"></div>

							<!-- Password input -->
							<div class="form-outline mb-4">
								<input
									type="password"
									id="password"
									name="password"
									class="form-control"
									required
								/>
								<label class="form-label" for="password">Password</label>
							</div>
							<div class="password error"></div>

							<!-- 2 column grid layout for inline styling -->
							<div class="row mb-4">
								<div class="col text-center">
									<!-- Simple link -->
									<a href="/auth/signup">Sign Up?</a>
								</div>
								<div class="col text-center">
									<!-- Simple link -->
									<a href="#!">Forgot password?</a>
								</div>
							</div>

							<!-- Submit button -->
							<button
								type="submit"
								class="btn btn-primary btn-rounded btn-block"
							>Sign in</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>