<div class="row g-0">
	<div class="card p-3">
		<div class="row justify-content-center">
			<div class="col">
				<!-- Name input -->
				<div class="form-outline">
					<input type="password" id="oldPassword" class="form-control" />
					<label class="form-label" for="first_name">Old Password</label>
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col">
				<!-- Email input -->
				<div class="form-outline">
					<input type="password" id="newPassword" class="form-control" />
					<label class="form-label" for="last_name">New Password</label>
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col">
				<!-- Name input -->
				<div class="form-outline">
					<input type="password" id="confirmPassword" class="form-control" />
					<label class="form-label" for="email">Confirm Password</label>
				</div>
			</div>
		</div>

		<div class="row mt-3 justify-content-end">
			<div class="col-1">
				<div class="">
					<button
						class="btn btn-primary btn-rounded mb-4"
						id="cancel"
						onclick="history.back()"
					>Cancel</button>
				</div>
			</div>
			<div class="col-1">
				<div class="">
					<button
						onclick="updatePassword()"
						class="btn btn-success btn-rounded btn-block mb-4"
						id="update-candidate"
					>Save</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="text-center text-danger" id="error">
				</div>
			</div>
		</div>
	</div>
</div>